In [1]:
import pandas as pd

# ایجاد یک DataFrame ساده
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8]
})

# استفاده از lambda برای اعمال شرط در ستون A
df['C'] = df['A'].apply(lambda x: x * 2 if x > 2 else x + 1)

print(df)

   A  B  C
0  1  5  2
1  2  6  3
2  3  7  6
3  4  8  8

In [2]:
import pandas as pd
import numpy as np

# ایجاد یک DataFrame نمونه
df = pd.DataFrame(np.random.randn(5, 3), columns=['a', 'b', 'c'])

# تعریف یک lambda function برای شرط
myfilter = lambda x: x['b'] > x['c']

# استفاده از lambda در loc برای فیلتر کردن DataFrame
df_filtered = df.loc[myfilter]

print(df_filtered)

          a        b         c
2 -1.851591 -0.63803 -1.265152
4  0.024428  0.52986 -0.838124

In [4]:
df

          a         b         c
0  0.583599 -0.426938  1.126543
1  0.781607 -0.256178  1.238041
2 -1.851591 -0.638030 -1.265152
3  0.391415  0.422176  1.491604
4  0.024428  0.529860 -0.838124

In [7]:
import numpy as np

# تولید یک آرایه ده میلیون تایی با فاصله 1
large_array = np.arange(10000000)

print(large_array[:5])  # چاپ پنج اولین عنصر برای تست

[0 1 2 3 4]

In [10]:
import threading

# تابعی که مربع یک عدد را محاسبه می‌کند
def calc_square(numbers):
    for n in numbers:
        n*n

# تابعی که مکعب یک عدد را محاسبه می‌کند
def calc_cube(numbers):
    for n in numbers:
        n^3

# لیست اعداد
numbers = np.arange(10000000)

# ایجاد دو رشته برای اجرای توابع calc_square و calc_cube به صورت همزمان
square_thread = threading.Thread(target=calc_square, args=(numbers,))
cube_thread = threading.Thread(target=calc_cube, args=(numbers,))

# شروع اجرای رشته‌ها
square_thread.start()
cube_thread.start()

# انتظار برای تکمیل رشته‌ها
square_thread.join()
cube_thread.join()

In [11]:
from difflib import SequenceMatcher

# دو رشته برای مقایسه
str1 = "Python Programming"
str2 = "programming python"

# تبدیل هر دو رشته به فرم کوچک
str1_lower = str1.lower()
str2_lower = str2.lower()

# ایجاد یک SequenceMatcher با استفاده از رشته‌های کوچک
matcher = SequenceMatcher(None, str1_lower, str2_lower)

# محاسبه نسبت تشابه
similarity_ratio = matcher.ratio()

print(similarity_ratio)

0.6111111111111112

In [12]:
def remove_spaces(s):
    """حذف فاصله‌ها از رشته"""
    return s.replace(" ", "")

def custom_similarity(str1, str2):
    """محاسبه شباهت دو رشته با حذف فاصله‌ها"""
    str1_no_spaces = remove_spaces(str1)
    str2_no_spaces = remove_spaces(str2)
    
    # استفاده از SequenceMatcher برای محاسبه شباهت
    from difflib import SequenceMatcher
    matcher = SequenceMatcher(None, str1_no_spaces, str2_no_spaces)
    similarity_ratio = matcher.ratio()
    
    return similarity_ratio

# دو رشته برای مقایسه
str1 = "Python Programming"
str2 = "Programming python"

# محاسبه شباهت با حذف فاصله‌ها
similarity = custom_similarity(str1, str2)

print(similarity)

0.6470588235294118

In [13]:
import pandas as pd

# ایجاد یک DataFrame نمونه
df = pd.DataFrame({
    'A': [1, 2, 3, 4]
})

# تعریف یک تابع که دو مقدار برمی‌گرداند
def my_function(x):
    return x * 2, x - 2

# استفاده از تابع apply با یک تابع lambda برای اعمال تابع my_function بر روی ستون A
results = df['A'].apply(my_function).tolist()

# تبدیل نتایج به DataFrame و ذخیره در دو ستون جدید
df[['C', 'D']] = pd.DataFrame(results, index=df.index)

print(df)

   A  C  D
0  1  2 -1
1  2  4  0
2  3  6  1
3  4  8  2

In [ ]:
@jit(nopython=True)
def f(x):
    FirstName='omid
    return distance(FirstName,x)
df['distanceName']=df['FN'].apply(f,engine='numba')

In [31]:
from numba import jit
import math  # فرض می‌کنیم تابع distance وجود دارد

@jit(nopython=True)
def f(x):
    FirstName = 'omid'
    return distance(FirstName, x)

# فرض می‌کنیم df یک DataFrame است و ستون 'FN' وجود دارد
df['distanceName'] = df['FN'].apply(f, meta=('x', 'f8'))  # فرض می‌کنیم x یک عدد است

TypeError: too many arguments: expected 1, got 2

In [30]:
from numba import jit
import pandas as pd

@jit(nopython=True)
def f(x):
    FirstName = 'omid'
    return distance(FirstName, x)  # فرض می‌کنیم تابع distance وجود دارد و با Numba سازگار است

# ایجاد یک DataFrame نمونه
df = pd.DataFrame({
    'FN': ['Ali', 'Reza', 'Sara']
})

# اعمال تابع f بر روی ستون 'FN'
df['distanceName'] = df['FN'].map(lambda x: f(x))

# چاپ DataFrame به روزرسانی شده
print(df)

TypingError: Failed in nopython mode pipeline (step: nopython frontend)
NameError: name 'distance' is not defined

In [18]:
def string_to_vector(s):
    # ایجاد یک دیکشنری برای نگهداری تعداد حضور هر حرف
    count_dict = {}
    for char in s:
        if char.isalpha():  # اطمینان حاصل می‌کنیم که فقط حروف انگلیسی را در نظر بگیریم
            if char.lower() in count_dict:
                count_dict[char.lower()] += 1
            else:
                count_dict[char.lower()] = 1
    
    # ایجاد یک بردار با استفاده از تعداد حضور هر حرف
    vector = [0] * 26  # 26 حرف انگلیسی
    for char, count in count_dict.items():
        index = ord(char) - ord('a')  # محاسبه اندیس حرف در بردار
        vector[index] = count
    
    # تبدیل بردار به یک عدد
    num = int(''.join(map(str, vector)), 2)
    
    return num

# مثال استفاده
s = "Hello World"
vector_num = string_to_vector(s)
print(vector_num)

ValueError: invalid literal for int() with base 2: '00011001000300200100001000'

In [20]:
def string_to_vector_no_duplicates(s):
    # ایجاد یک دیکشنری برای نگهداری تعداد حضور هر حرف
    count_dict = {}
    for char in s:
        if char.isalpha():  # اطمینان حاصل می‌کنیم که فقط حروف انگلیسی را در نظر بگیریم
            if char.lower() in count_dict:
                count_dict[char.lower()] += 1
            else:
                count_dict[char.lower()] = 1
    
    # ایجاد یک بردار با استفاده از تعداد حضور هر حرف
    vector = [0] * 26  # 26 حرف انگلیسی
    for char, count in count_dict.items():
        index = ord(char) - ord('a')  # محاسبه اندیس حرف در بردار
        vector[index] = count
    
    # حذف مقادیر تکراری از بردار
    unique_vector = []
    for item in vector:
        if item not in unique_vector:
            unique_vector.append(item)
    
    # تبدیل بردار به یک عدد
    num = int(''.join(map(str, unique_vector)), 2)
    
    return num

# مثال استفاده
s = "Hello World"
vector_num = string_to_vector_no_duplicates(s)
print(vector_num)

ValueError: invalid literal for int() with base 2: '0132'

In [22]:
def string_to_binary_vector(s):
    # ایجاد یک بردار خالی با طول 26
    binary_vector = [0] * 26
    
    # بررسی هر حرف انگلیسی در رشته
    for char in s:
        if char.isalpha():  # اطمینان حاصل می‌کنیم که فقط حروف انگلیسی را در نظر بگیریم
            index = ord(char.lower()) - ord('a')  # محاسبه اندیس حرف در بردار
            binary_vector[index] = 1  # مقدار اندیس مربوطه را به 1 تنظیم می‌کنیم
            
    # تبدیل بردار به یک عدد باینری
    print(binary_vector)
    num = int(''.join(map(str, binary_vector)), 2)
    
    return num

# مثال استفاده
s = "Hello World"
binary_vector_num = string_to_binary_vector(s)
print(binary_vector_num)

[0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0]
6572296

In [24]:
a = 6572296
# Base 2(binary)
bin_a = bin(a)
print(bin_a)
print(int(bin_a, 2)) #Base 2(binary)

0b11001000100100100001000
6572296

In [26]:
# تبدیل عدد دهدهی به باینری
def decimal_to_binary(decimal_num):
    binary_str = bin(decimal_num).replace("0b", "")
    return binary_str

# تبدیل عدد باینری به دهدهی
def binary_to_decimal(binary_str):
    decimal_num = int(binary_str, 2)
    return decimal_num

# مثال استفاده
print(decimal_to_binary(6572296))  # prints 111
print(binary_to_decimal("111"))  # prints 7

11001000100100100001000
7

In [29]:
decimal_number = 13  # یک عدد دهدهی
binary_number = bin(decimal_number).replace("0b", "")
print(binary_number)  # Output: 1101

1101

In [32]:
import pandas as pd

# ایجاد یک DataFrame نمونه
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'gender': ['F', 'M', 'M']
}
df = pd.DataFrame(data)

# بروزرسانی مقدار یک سلول با استفاده از.at
df.at[0, 'age'] = 26

# یا با استفاده از.iat
df.iat[0, 1] = 26

print(df)

      name  age gender
0    Alice   26      F
1      Bob   30      M
2  Charlie   35      M

In [35]:
import pandas as pd

# تعریف DataFrame df_A_Z
ذ = pd.DataFrame({
    'Letter': [chr(i+97) for i in range(26)],
    'Value1': [0]*26,
    'Value2': [0]*26
})

# def update_values(letter, counts):
#     return df_A_Z.apply(lambda x: x if x!= letter else counts, axis=1)

def string_to_binary_vector(s, counts):
    binary_vector = [0] * 26
    l = 0
    
    for char in s:
        if char.isalpha():
            index = ord(char.lower()) - ord('a')
            binary_vector[index] = 1
            l += (2**index)
            
            # بروزرسانی مقادیر در df_A_Z
            df_A_Z.loc[df_A_Z['Letter'] == char, 'Value1'] += 1
            df_A_Z.loc[df_A_Z['Letter'] == char, 'Value2'] += counts
            
    print(l)
    num = ''.join(map(str, binary_vector))
    print(num)
    
    return l

# تست کد
s = "Hello"
counts = 10
string_to_binary_vector(s, counts)

20624
00001001000100100000000000

20624

In [34]:
df_A_Z

   Letter  Value1  Value2
0       a       0       0
1       b       0       0
2       c       0       0
3       d       0       0
4       e       1      10
5       f       0       0
6       g       0       0
7       h       0       0
8       i       0       0
9       j       0       0
10      k       0       0
11      l       2      20
12      m       0       0
13      n       0       0
14      o       1      10
15      p       0       0
16      q       0       0
17      r       0       0
18      s       0       0
19      t       0       0
20      u       0       0
21      v       0       0
22      w       0       0
23      x       0       0
24      y       0       0
25      z       0       0

In [43]:
import pandas as pd

# تعریف لیست‌ها
names = ['Alice', 'abc', 'abc', 'abca', 'Bob', 'Charlie'] * 2 + ['David']
counts = [10, 5, 7, 4, 6, 1] * 2 + [8]

# ایجاد DataFrame
df = pd.DataFrame({'Names': names, 'counts': counts})

# نمایش DataFrame
print(df)

      Names  counts
0     Alice      10
1       abc       5
2       abc       7
3      abca       4
4       Bob       6
5   Charlie       1
6     Alice      10
7       abc       5
8       abc       7
9      abca       4
10      Bob       6
11  Charlie       1
12    David       8

In [44]:
import pandas as pd

# تابع خود را تعریف کنید (مثالی از تابع string_to_binary_vector)
def string_to_binary_vector(name, count):
    # منطق تبدیل رشته به بردار دودویی را اینجا پیاده‌سازی کنید
    # مثلا:
    binary_vector = [int(c) for c in bin(count)[2:]]  # تبدیل تعداد به بردار دودویی
    return binary_vector

# اعمال تابع به ستون‌های مورد نظر
df[['column1', 'column2']] = df.apply(lambda x: pd.Series(string_to_binary_vector(x['Names'], x['counts'])), axis=1)

# نمایش چند ردیف از DataFrame
print(df.head())

ValueError: Columns must be same length as key

In [46]:
import pandas as pd

# تابع خود را تعریف کنید (مثالی از تابع string_to_binary_vector)
def string_to_binary_vector(name, count):
    # منطق تبدیل رشته به بردار دودویی را اینجا پیاده‌سازی کنید
    # مثلا:
    binary_vector = [7,55]  # تبدیل تعداد به بردار دودویی
    return binary_vector

# اعمال تابع به ستون‌های مورد نظر
df[['column1', 'column2']] = df.apply(lambda x: pd.Series(string_to_binary_vector(x['Names'], x['counts'])), axis=1)

# نمایش چند ردیف از DataFrame
print(df.head())

   Names  counts  column1  column2
0  Alice      10        7       55
1    abc       5        7       55
2    abc       7        7       55
3   abca       4        7       55
4    Bob       6        7       55

In [54]:
# تعریف دو عدد
num1 = 15  # 101 در باینری
num2 = 12  # 111 در باینری

# انجام عملگر bitwise OR
result = num1 ^ num2

# تبدیل عدد به فرمت باینری و حذف '0b' در ابتدای رشته
binary_result = bin(result)[2:]

# شمارش تعداد یک‌ها در رشته باینری
count_ones = binary_result.count('1')

print("Binary Result:", binary_result)
print("Count of Ones:", count_ones)

Binary Result: 11
Count of Ones: 2

In [53]:
result = num1 ^ num2
result

3

In [56]:
pip install Levenshtein

Collecting Levenshtein
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f4dcb56cdd0>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/73/d9/0dd6998bc686bfbbfef69eb424620a0f0776cd070776681c1239493f9ea2/Levenshtein-0.25.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f4dcb56d610>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/73/d9/0dd6998bc686bfbbfef69eb424620a0f0776cd070776681c1239493f9ea2/Levenshtein-0.25.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f4dcb56e110>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/73/d9/0dd6998bc686bfbbfef69eb424620a0f0776cd070776681c1239493f9ea2/Levenshtein-0.25.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f4dcb56ea10>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/73/d9/0dd6998bc686bfbbfef69eb424620a0f0776cd070776681c1239493f9ea2/Levenshtein-0.25.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  Downloading Levenshtein-0.25.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (177 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 177.2/177.2 kB 258.6 kB/s eta 0:00:00a 0:00:01
Collecting rapidfuzz<4.0.0,>=3.8.0 (from Levenshtein)
  Downloading rapidfuzz-3.9.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 260.7 kB/s eta 0:00:0000:0100:01
Installing collected packages: rapidfuzz, Levenshtein
Successfully installed Levenshtein-0.25.1 rapidfuzz-3.9.3
Note: you may need to restart the kernel to use updated packages.

In [58]:
from difflib import SequenceMatcher

In [65]:
import pandas as pd
from Levenshtein import distance
from difflib import SequenceMatcher
def distance_(a, b):
    return SequenceMatcher(None, a, b).ratio
    


# ایجاد یک DataFrame نمونه
data = {
    'Column1': ['cat', 'bat', 'dog', 'apple'],
    'Column2': ['car', 'ball', 'donkey', 'apricot']
}
df = pd.DataFrame(data)

# محاسبه فاصله بین دو ستون با استفاده از فاصله لئونیسکی
df['Distance'] = df.apply(lambda row: distance(row['Column1'], row['Column2']), axis=1)

print(df)

  Column1  Column2  Distance
0     cat      car         1
1     bat     ball         2
2     dog   donkey         4
3   apple  apricot         5

In [66]:
import pandas as pd
from Levenshtein import distance
from itertools import product

# ایجاد یک DataFrame نمونه
data = {
    'Column1': ['cat', 'bat', 'dog', 'apple'],
    'Column2': ['car', 'ball', 'donkey', 'apricot']
}
df = pd.DataFrame(data)

# ترکیب تمام مقادیر ستون‌ها به هم
combinations = list(product(df['Column1'], df['Column2']))

# محاسبه فاصله لونشتاین برای هر جفت
df['Levenshtein_Distance'] = [distance(c[0], c[1]) for c in combinations]

print(df)

ValueError: Length of values (16) does not match length of index (4)

In [69]:
import pandas as pd

# ایجاد دیتافریم‌های نمونه
data1 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
data2 = {'A': [3, 2, 1], 'C': [7, 8, 9]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# ادغام دیتافریم‌ها بر اساس ستون A
result = pd.merge(df1, df2, on='A')

print(df1)

   A  B
0  1  4
1  2  5
2  3  6

In [71]:
import pandas as pd

# ایجاد دیتافریم‌های نمونه
data1 = {'team': ['A', 'B', 'C', 'D'], 'points': [18, 22, 19, 14]}
data2 = {'team': ['A', 'B', 'F'], 'assists': [4, 9, 8]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# ایجاد ستون مشترک برای cross join
df1['key'] = 0
df2['key'] = 0

# انجام cross join
result = pd.merge(df1, df2, on='key', how='outer')

# حذف ستون کلیدی
del result['key']

print(result)

   team_x  points team_y  assists
0       A      18      A        4
1       A      18      B        9
2       A      18      F        8
3       B      22      A        4
4       B      22      B        9
5       B      22      F        8
6       C      19      A        4
7       C      19      B        9
8       C      19      F        8
9       D      14      A        4
10      D      14      B        9
11      D      14      F        8

In [77]:
def count_ones_fast(num):
    count = 0
    while num:
        count += num & 1
        num >>= 1
    return count

# استفاده از تابع
result = 7 ^ 15
count_ones = count_ones_fast(result)

print(count_ones)

1

In [78]:
import pandas as pd
import numpy as np

np.random.seed(0)
df = pd.DataFrame(np.random.rand(6,2), index=range(0,18,3), columns=['A', 'B'])
print(df)

# انتخاب سطرهای 3، 4، و 5
selected_rows = df.iloc[[2, 3, 4]]
print(selected_rows)

           A         B
0   0.548814  0.715189
3   0.602763  0.544883
6   0.423655  0.645894
9   0.437587  0.891773
12  0.963663  0.383442
15  0.791725  0.528895
           A         B
6   0.423655  0.645894
9   0.437587  0.891773
12  0.963663  0.383442

In [80]:
import pandas as pd

# ایجاد لیست‌های خالی برای ستون‌ها
col1 = []
col2 = []
col3 = []


# مقداردهی ستون‌ها در طی یک حلقه for
for i in range(10):
    col1.append(i)
    col2.append([i, i+1, i+2])
    col3.append(i * 3)

# ایجاد DataFrame از لیست‌های


print(df)

Empty DataFrame
Columns: [ستون 1, ستون 2, ستون 3]
Index: []

In [82]:
pip install polars

Collecting polars
  Downloading polars-0.20.31-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (28.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 28.8/28.8 MB 242.1 kB/s eta 0:00:0000:0100:04
Installing collected packages: polars
Successfully installed polars-0.20.31
Note: you may need to restart the kernel to use updated packages.

In [85]:
import polars as pl

# فرض کنید df همان DataFrame بزرگ شماست
df = pl.DataFrame(df)
result = df.select(pl.all().sum())
result

shape: (1, 3)
┌────────┬────────┬────────┐
│ ستون 1 ┆ ستون 2 ┆ ستون 3 │
│ ---    ┆ ---    ┆ ---    │
│ f64    ┆ f64    ┆ f64    │
╞════════╪════════╪════════╡
│ 0.0    ┆ 0.0    ┆ 0.0    │
└────────┴────────┴────────┘

In [92]:
import numpy as np
import polars as pl

# ایجاد یک DataFrame با 36 میلیون رکورد و 10 ستون
num_rows = 36000000
num_cols = 10
data = np.random.rand(num_rows, num_cols)

# تبدیل داده‌ها به DataFrame Polars
df = pl.DataFrame(data, schema=[f'col_{i}' for i in range(num_cols)])

In [93]:
df

shape: (36_000_000, 10)
┌──────────┬──────────┬──────────┬──────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ col_0    ┆ col_1    ┆ col_2    ┆ col_3    ┆ … ┆ col_6    ┆ col_7    ┆ col_8    ┆ col_9    │
│ ---      ┆ ---      ┆ ---      ┆ ---      ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ f64      ┆ f64      ┆ f64      ┆ f64      ┆   ┆ f64      ┆ f64      ┆ f64      ┆ f64      │
╞══════════╪══════════╪══════════╪══════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 0.578835 ┆ 0.016242 ┆ 0.897595 ┆ 0.602582 ┆ … ┆ 0.261463 ┆ 0.208275 ┆ 0.524483 ┆ 0.151028 │
│ 0.795036 ┆ 0.419714 ┆ 0.006249 ┆ 0.124994 ┆ … ┆ 0.491335 ┆ 0.581072 ┆ 0.173498 ┆ 0.671198 │
│ 0.66111  ┆ 0.342684 ┆ 0.010612 ┆ 0.457727 ┆ … ┆ 0.386578 ┆ 0.9589   ┆ 0.109004 ┆ 0.774686 │
│ 0.720678 ┆ 0.310497 ┆ 0.391657 ┆ 0.802184 ┆ … ┆ 0.664217 ┆ 0.368195 ┆ 0.425614 ┆ 0.545656 │
│ 0.065295 ┆ 0.984227 ┆ 0.769026 ┆ 0.079531 ┆ … ┆ 0.881166 ┆ 0.006453 ┆ 0.515522 ┆ 0.873776 │
│ …        ┆ …        ┆ …        ┆ …        ┆ … ┆ …        ┆ …        ┆ …        ┆ …        │
│ 0.80534  ┆ 0.558938 ┆ 0.937837 ┆ 0.658842 ┆ … ┆ 0.161046 ┆ 0.872062 ┆ 0.952419 ┆ 0.199167 │
│ 0.593508 ┆ 0.76766  ┆ 0.107407 ┆ 0.385199 ┆ … ┆ 0.82444  ┆ 0.412491 ┆ 0.904368 ┆ 0.679338 │
│ 0.709388 ┆ 0.402645 ┆ 0.814562 ┆ 0.52457  ┆ … ┆ 0.821836 ┆ 0.710362 ┆ 0.752504 ┆ 0.39475  │
│ 0.367184 ┆ 0.809315 ┆ 0.353004 ┆ 0.55974  ┆ … ┆ 0.152791 ┆ 0.556517 ┆ 0.387966 ┆ 0.34222  │
│ 0.647388 ┆ 0.807652 ┆ 0.403096 ┆ 0.84265  ┆ … ┆ 0.622334 ┆ 0.160482 ┆ 0.16     ┆ 0.124748 │
└──────────┴──────────┴──────────┴──────────┴───┴──────────┴──────────┴──────────┴──────────┘

In [1]:
# محاسبه مجموع عناصر هر ردیف و افزودن به DataFrame
df = df.with_columns(
    pl.sum_horizontal([pl.col(f'col_{i}') for i in range(num_cols)]).alias('sum')
)

# نمایش چند سطر اول
print(df.head())
# df[pl.col('col_0')]

NameError: name 'df' is not defined

In [2]:
import pandas as pd
import numpy as np
import polars as pl
import difflib

# ایجاد یک DataFrame با 36 میلیون رکورد و دو ستون از اعداد به صورت رشته
num_rows = 3000000
data = {
    'col_1': np.random.randint(0, 1000000, size=num_rows).astype(str),
    'col_2': np.random.randint(0, 1000000, size=num_rows).astype(str)
}
df_pandas = pd.DataFrame(data)

# تبدیل pandas DataFrame به Polars DataFrame
df_polars = pl.from_pandas(df_pandas)

# تعریف تابع محاسبه فاصله با difflib
def calculate_distance(str1, str2):
    return difflib.SequenceMatcher(None, str1, str2).ratio()

# استفاده از apply در Polars برای محاسبه فاصله بین دو ستون
df_polars = df_polars.with_columns(
    pl.struct(['col_1', 'col_2']).apply(lambda row: calculate_distance(row['col_1'], row['col_2'])).alias('distance')
)

# نمایش چند سطر اول
print(df_polars.head())

/tmp/ipykernel_6487/635505112.py:23: DeprecationWarning: `apply` is deprecated. It has been renamed to `map_elements`.
  pl.struct(['col_1', 'col_2']).apply(lambda row: calculate_distance(row['col_1'], row['col_2'])).alias('distance')
/tmp/ipykernel_6487/635505112.py:22: MapWithoutReturnDtypeWarning: Calling `map_elements` without specifying `return_dtype` can lead to unpredictable results. Specify `return_dtype` to silence this warning.
  df_polars = df_polars.with_columns(

shape: (5, 3)
┌────────┬────────┬──────────┐
│ col_1  ┆ col_2  ┆ distance │
│ ---    ┆ ---    ┆ ---      │
│ str    ┆ str    ┆ f64      │
╞════════╪════════╪══════════╡
│ 167190 ┆ 901236 ┆ 0.333333 │
│ 935818 ┆ 85661  ┆ 0.363636 │
│ 117893 ┆ 746923 ┆ 0.5      │
│ 707789 ┆ 428573 ┆ 0.166667 │
│ 814446 ┆ 161758 ┆ 0.166667 │
└────────┴────────┴──────────┘

In [7]:
import pandas as pd
import numpy as np
import polars as pl
import difflib

# ایجاد یک DataFrame با 36 میلیون رکورد و دو ستون از اعداد به صورت رشته
num_rows = 13000000
data = {
    'col_1': np.random.randint(0, 1000000, size=num_rows).astype(str),
    'col_2': np.random.randint(0, 1000000, size=num_rows).astype(str)
}
df_pandas = pd.DataFrame(data)

# تبدیل pandas DataFrame به Polars DataFrame
df_polars = pl.from_pandas(df_pandas)

In [8]:
%%time
# تعریف تابع محاسبه فاصله با difflib
def calculate_distance(str1, str2):
    return difflib.SequenceMatcher(None, str1, str2).ratio()

# استفاده از map_elements در Polars برای محاسبه فاصله بین دو ستون
df_polars = df_polars.with_columns(
    pl.struct(['col_1', 'col_2']).map_elements(
        lambda row: calculate_distance(row['col_1'], row['col_2']),
        return_dtype=pl.Float32
    ).alias('distance')
)

# نمایش چند سطر اول
print(df_polars.head())

shape: (5, 3)
┌────────┬────────┬──────────┐
│ col_1  ┆ col_2  ┆ distance │
│ ---    ┆ ---    ┆ ---      │
│ str    ┆ str    ┆ f32      │
╞════════╪════════╪══════════╡
│ 444918 ┆ 640048 ┆ 0.5      │
│ 549711 ┆ 241396 ┆ 0.333333 │
│ 29030  ┆ 741833 ┆ 0.181818 │
│ 140750 ┆ 757250 ┆ 0.5      │
│ 489141 ┆ 633758 ┆ 0.166667 │
└────────┴────────┴──────────┘
CPU times: user 3min 5s, sys: 277 ms, total: 3min 6s
Wall time: 3min 6s